# --- Application Configuration ---
PORT = 8080                     # Change it according to your needs
NODE_ENV = "development"        # Change it to "production" in production mode

# --- Request Body Limit ---
REQUEST_BODY_LIMIT = "50mb"     # Change it according to your needs

# --- MongoDB Configuration ---
MONGODB_URL = "mongodb://localhost:27017"     # Change with your MONGODB URL
MONGODB_DB = "nodejs_boiler"                  # Change with your DataBase Name

# --- JWT Secret Key Authentication ---
JWT_SECRET = "your_secret_key"       # Change according your Secret key
JWT_EXPIRES_IN = "1d"                # Change with your JWT expires in (1d, 1h, 1m, 1s)
JWT_COOKIE_EXPIRES_IN = 90           # Change with your JWT cookie expires in

# --- CORS Configuration ---
CORS_ORIGIN = "http://localhost:8080","http://localhost:3000"       # You can add other cors-origin URLs

# --- Rate Limiting ---
RATE_LIMIT_WINDOW_MS = 900000             # 15 minutes
RATE_LIMIT_MAX = 100                      # limit each IP to 100 requests per windowMs

# --- Email Configuration ---
EMAIL_PASS = "xxxx xxxx xxxx xxxx"          # Change it using actual your Google Gmail password
SENDER_USER = "your_email@example.com"      # Add your Email