# --- Application Configuration ---
PORT = 8080                     # Change it according to your needs
NODE_ENV = "development"        # Change it to "production" in production mode

# --- Request Body Limit ---
REQUEST_BODY_LIMIT = "50mb"

# --- Postgres Configuration ---\
CONNECTION_HOST = "localhost"               # Change with your IP host
CONNECTION_PORT = 5432
CONNECTION_USER = "your_username"           # Change with your user name
CONNECTION_DB = "your_database"             # Change with your Database name
CONNECTION_PASSWORD = "your_password"       # Chnage with your password
CONNECTION_MAX = 20                         # Change with your max number of clients in the pool
CONNECTION_IDEL_ITMEOUT = 30000             # Change with idel time out
CONNECTION_CONN_TIMEOUT = 2000              # Change with conneciton time out

# --- JWT Secret Key ---
JWT_SECRET = "your_JWT_secretkey"       # Change according your Secret key
JWT_EXPIRES_IN = "1d"                   # Change with your JWT expires in (1d, 1h, 1m, 1s)
JWT_COOKIE_EXPIRES_IN = 90              # Change with your JWT cookie expires in

# --- CORS Configuration ---
CORS_ORIGIN = "http://localhost:8080","http://localhost:3000"       # You can add other cors-origin URLs

# --- Rate Limiting ---
RATE_LIMIT_WINDOW_MS = 900000             # 15 minutes
RATE_LIMIT_MAX = 100                      # limit each IP to 100 requests per windowMs

# --- Email Configuration ---
EMAIL_PASS = "xxxx xxxx xxxx xxxx"          # Change it using actual your Google Gmail password
SENDER_USER = "your_email@example.com"      # Add your Email